<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rest API</title>
    <link rel="stylesheet"href="/style.css">
</head>
<body>
  <h1>Enter New post to add in existing posts </h1>
  <div class="container">
      <form method="post" action="/posts">
        <input id="text" type="text" name="username" placeholder="Enter your title of post">
        <br>
        <br>
        <textarea name="content" id="area" placeholder="Enter you content here" rows="20" cols="40" ></textarea>
        <br>
        <button>Submit</button>
      </form>
    </div>
</body>
</html>